@import '../../layout/variables.scss';

.instructions {
  padding: 60px 20px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: left;

  table {
    font-family: 'Consolas';
    font-size: 0.65em;
    border-collapse: collapse;
    border: 1px solid black;

    td, th {
      padding: 6px;
      border: 1px solid black;
    }
  }
}